* {
    background-color: #caf0f8;
}

button {
    font-size: large;
    font-family: cursive;
}

h1,
h2 {
    color: #03045e;
}

#login {
    background-color: #723c70;
    font-size: 20px;
    color: #caf0f8;
}

#signup {
    background-color: teal;
    color: #caf0f8;
}

.tag {
    background-color: #f95738;
    color: #f1faee;
    font-size: 15px;
}

.post span a {
    text-decoration: none;
    color: #e01e37;
}