section {
    background-color: teal;
    width: 900px;
    height: 900px;
    border: 4px solid black;
    padding: 10px;
}

div {
    display: inline-block;
}

#rgba {
    /* So this last number in below rgba color property makes the color of element div either completely
        transparent or completely opaque
        but notice color of text is not getting impacted because of this */
    background-color: rgba(92, 0, 128, 0.4);
    width: 30%;
    height: 30%;
    border: 2px solid black;
    border-radius: 20%;
    padding: 4%;
    margin: 2%
}

#opacity {
    background-color: seagreen;
    width: 30%;
    height: 30%;
    border: 2px solid black;
    border-radius: 20%;
    padding: 4%;
    margin: 2%;
    /* So here opacity also makes the element wither opaque or transparent but it also impact the text inside that element
        as well as any other decendent element like a button or anything inside this div */
    opacity: 0.5;
}