p {
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}

h2,
h3 {
    font-family: 'Architects Daughter', cursive;
    text-decoration: underline;
}

h1 {
    font-family: 'Fredoka One', cursive;
}