.circle {
    background-color: teal;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 0;
    transition: background-color 3s 1s, border-radius 3s 1s;
}

.circle:hover {
    background-color: blueviolet;
    border-radius: 50%;
}

section div {
    background-color: seagreen;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 20px 0;
    transition: margin-left 3s 1s;
}

section:hover div {
    margin-left: 500px;
}

.ease {
    transition-timing-function: ease;
}

.easein {
    transition-timing-function: ease-in;
}

.easeout {
    transition-timing-function: ease-out;
}

.easeinout {
    transition-timing-function: ease-in-out;
}

.linear {
    transition-timing-function: linear;
}

.cb {
    transition-timing-function: cubic-bezier(1, 0, 1, 1);
}